<link rel="stylesheet" href="style.css">

<head>
	<script src="p5.js"></script>
	<script src="p5.dom.js"></script>
</head>

<body>
	<center>
		<div>
			<script src="sketch.js"></script>
			<script src="grid.js"></script>
		</div>
	</center>
</body>
