<head>
	<script src="p5.js"></script>
	<script src="p5.dom.js"></script>
</head>

<body>
	<div>
	<script src="helpers.js"></script>
	<script src="sketch.js"></script>
	<script src="grid.js"></script>
	</div>
	
</body>
